name: einvoice-provider 

networks:
  einvoice-nw:
    driver: bridge
    name: einvoice-nw


services: 
  mongodb:
    image : mongo
    container_name: mongodb_einvoice 
    ports: 
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes :
      - ./docker/docker_data/mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - einvoice-nw



  posgresql:
    image : postgres
    restart: unless-stopped
    container_name: postgres_server
    ports:
      - '5432:5432'
    volumes: 
      - ./docker/docker_data/posgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: einvoice-app
    networks:
      - einvoice-nw

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ui
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    depends_on:
      - posgresql
    networks:
      - einvoice-nw
    volumes:
      - ./docker/docker_data/pgadmin_data:/var/lib/pgadmin

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    container_name: keycloak-25.0.0
    ports:
      - '8180:8080'
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

    command: start-dev
    restart: unless-stopped
    volumes:
      - ./docker/docker_data/keycloak_data:/opt/keycloak/data
    networks:
      - einvoice-nw

    
